*{
    margin: 0;
    padding:0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #4eee8e, #90bafc);
    color: white;
    padding: 10px;
}
.app{
    width: 100%;
    max-width: 600px;
    margin-left: 10%;
    margin-top: 10%;
}
.app h1{
    font-size: 60px;
}
.app h1 span{
    color:#043417;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}
.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: white;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
}
.display img{
    width: 30px;
    cursor: pointer;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
    border-radius: 5px;
}
.app button{
    background: #105a2d;
    border: 0;
    outline: 0;
    margin-top: 15px;
    padding: 16px 26px;
    border-radius: 5px;
    font-weight: 300;
    font-size: 22px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.app button img{
    width: 28px;
    margin-right: 10px; 
}